<div class="modal-header">
	<span>{{sermon.sermon_date}}</span>
	<span ng-if="sermon.title"> - {{sermon.title}}</span>
</div>
<div class="modal-body">
	<div class="row" ng-if="sermon.sermon">
		<div class="col-md-4">
			<span>Sermon</span>
		</div>
		<div class="col-md-4">
			<button class="btn btn-default" ng-click="openAudio(sermon)">Listen</button>
		</div>
		<div class="col-md-4">
			<a href="{{sermon.sermon}}" class="btn btn-default" download >Download</a>
		</div>
	</div>
	<div class="row" ng-if="sermon.bulletin">
		<div class="col-md-4">
			<span>Bulletin</span>
		</div>
		<div class="col-md-4">
			<button class="btn btn-default" ng-click="openDocs(sermon, 'bulletin')">Open</button>
		</div>
		<div class="col-md-4">
			<a href="{{sermon.bulletin}}" class="btn btn-default" download >Download</a>
		</div>
	</div>
	<div class="row" ng-if="sermon.ppt">
		<div class="col-md-4">
			<span>PowerPoint</span>
		</div>
		<div class="col-md-4">
			<button class="btn btn-default" ng-click="openDocs(sermon, 'ppt')">Open</button>
		</div>
		<div class="col-md-4">
			<a href="{{sermon.ppt}}" class="btn btn-default" download >Download</a>
		</div>
	</div>
	<div class="row" ng-if="sermon.life_group">
		<div class="col-md-4">
			<span>Life Group</span>
		</div>
		<div class="col-md-4">
			<button class="btn btn-default" ng-click="openDocs(sermon, 'life_group')">Open</button>
		</div>
		<div class="col-md-4">
			<a href="{{sermon.life_group}}" class="btn btn-default" download >Download</a>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="close()">Close</button>
</div>
