<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META -->
		<meta charset="UTF-8" />

		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">

		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script>
			function goBack() {
				window.history.back()
			}
		</script>
		
		<title>Calgary Chinese Alliance Church</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">

				<h2>Sorry! Page Not Found!</h2>
				<h2>對不起！找不到網頁！</h2>

				<br />

				<div class="center btn-group btn-group-lg">
					<button type="button" class="btn btn-default" onclick="goBack()">Go Back</button>
					<button type="button" class="btn btn-default" onclick="goBack()">回上頁</button>
				</div>

				<hr />
				
				<div class="center btn-group btn-group-lg">
					<a class="btn btn-default btn-primary" href="/eng">English</a>
					<a class="btn btn-default btn-primary" href="/cht">繁體</a>
					<a class="btn btn-default btn-primary" href="/chs">简体</a>
				</div>
			</div>
		</div>
	</body>
</html>
