<% include ./layout/header.html %>

<div data-role="page" id="<%= path %>" tabindex="0" class="ui-page ui-page-theme-a ui-page-active">

	<div id="mobile_header" data-role="header" data-position="fixed" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aria-level="1">
			CCAC
		</h1>
	</div>
	
	<div role="main" class="ui-content" id="content">
		<% if (!sidebar || sidebar == "church_update") { %>
			<iframe src="http://ccac-church-update.blogspot.com/" width="100%" height="100%" seamless></iframe>
		<% } else if (sidebar == "building_update") {%>
			<iframe src="http://ccac-building-update.blogspot.com/" width="100%" height="100%" seamless></iframe>
		<% } else if (sidebar == "facebook") {%>
			<iframe 
				src="//www.facebook.com/plugins/likebox.php?
					href=https://www.facebook.com/pages/Calgary-Chinese-Alliance-Church/690506447729653?pnref=lhc&amp;
					colorscheme=light&amp;
					show_faces=true&amp;
					header=true&amp;
					stream=true&amp;
					show_border=true&amp;
					appId=1532523910335784" 
				scrolling="no" 
				frameborder="0" 
				style="border:none; overflow:hidden;" 
				width="100%"
				height="600px"
				allowTransparency="true">
			</iframe>
		<% } %>

		
	</div>

	<div id="mobile_footer" data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit">
		<h4 class="ui-title" role="heading" aria-level="1">Calgary Chinese Alliance Church</h4>

		<script>
			$(document).ready(function() {
				$("iframe").height(Math.round($(window).height() * 0.8));
			});
		</script>

	</div>
</div>

<!-- need .html here -->

<% include ./layout/footer.html %>
