<% include ./layout/header.html %>

<div data-role="page" id="<%= path %>" tabindex="0" class="ui-page ui-page-theme-a ui-page-active">

	<div id="mobile_header" data-role="header" data-position="fixed" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aria-level="1">
			<%= __('resources') %>
		</h1>
	</div>
	
	<div role="main" class="ui-content" id="content">
		<div data-role="listview" class="ui-listview-outer" data-inset="true">
			<div data-role="collapsible" data-iconpos="left" data-shadow="false" data-corners="false">
				<h3><%= __('sermon') %></h3>
					<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
						<li id="english_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-QXRrV0x4YmNJUjA&usp=sharing#list" target="_blank"><%= __('english') %></a></li>
						<li id="cantonese_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-Z0ZPRVBNT1BhY1k&usp=sharing#list" target="_blank"><%= __('cantonese') %></a></li>
						<li id="mandarin_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-bEI5MlBtUUJfWjA&usp=sharing#list" target="_blank"><%= __('mandarin') %></a></li>
					</ul>
			</div>

			<div data-role="collapsible" data-iconpos="left" data-shadow="false" data-corners="false">
				<h3><%= __('bulletin') %></h3>
					<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
						<li id="english_bulletin"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-QmJFOUU2YlRNVHc&usp=sharing#list" target="_blank"><%= __('english') %></a></li>
						<li id="cantonese_bulletin"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-eDVsdGprV0Yyd2c&usp=sharing#list" target="_blank"><%= __('cantonese') %></a></li>
						<li id="mandarin_bulletin"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-MjY5djZUUWhhWnc&usp=sharing#list" target="_blank"><%= __('mandarin') %></a></li>
					</ul>
			</div>

		</div>


	</div>

	<div id="mobile_footer" data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit">
		<h4 class="ui-title" role="heading" aria-level="1">Calgary Chinese Alliance Church</h4>

		<script>
			$(document).ready(function() {
				$("iframe").height(Math.round($(window).height() * 0.8));
			});
		</script>
	</div>
</div>

<% include ./layout/footer.html %>
