<% include ./layout/header.html %>

<div div class="scrollable" ng-controller="SundayServiceController">
	<div ng-init="congregation = '<%= congregation %>'" ></div>
	<div ng-init="init()" ></div>
	
	<div id="mobile_header" data-role="header" data-position="fixed" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aria-level="1">
			<%= __('sermon_download') %> - 
			<span ng-if="congregation == 'English'"><%= __('english') %></span>
			<span ng-if="congregation == 'Cantonese'"><%= __('cantonese') %></span>
			<span ng-if="congregation == 'Mandarin'"><%= __('mandarin') %></span>
		</h1>
	</div>
	
	<div role="main" id="content" class="scrollable-content">

		<accordion close-others="oneAtATime" infinite-scroll="infiniteScroll()"  infinite-scroll-disabled="loading_api || no_more_result" >
			<accordion-group ng-repeat="sermon in sermons" >
				<accordion-heading ng-click="isopen=!isopen">
					<div>
						<span>{{sermon.sermon_date}}</span>
						<span ng-if="sermon.title"> - {{sermon.title}}</span>
            <span ng-if="sermon.speaker"> - {{sermon.speaker}}</span>
					</div>
				</accordion-heading>
        <div class="row" ng-if="sermon.sermon_series">
	        <div class="col-md-6">
		        <span><%= __('sermon_series') %>: {{sermon.sermon_series}}</span>
          </div>
        </div>
        <div class="row" ng-if="sermon.bible_verses">
	        <div class="col-md-6">
		        <span ng-if="sermon.congregation == 'English'">
	            <%= __('bible_verses') %>: <a href="https://www.biblegateway.com/passage/?version=NIV&search={{sermon.bible_verses}}" target="_blank">{{sermon.bible_verses}}</a>
            </span>
            <span ng-if="sermon.congregation == 'Cantonese'">
	            <%= __('bible_verses') %>: <a href="https://www.biblegateway.com/passage/?version=CUV&search={{sermon.bible_verses}}" target="_blank">{{sermon.bible_verses}}</a>
            </span>
            <span ng-if="sermon.congregation == 'Mandarin'">
	            <%= __('bible_verses') %>: <a href="https://www.biblegateway.com/passage/?version=CUVS&search={{sermon.bible_verses}}" target="_blank">{{sermon.bible_verses}}</a>
            </span>
          </div>
        </div>
				<div class="row" ng-if="sermon.sermon">
					<div class="col-xs-4">
						<span><%= __('sermon') %></span>
					</div>
					<div class="col-xs-4">
						<a href="#" class="btn btn-default" ng-click="openAudio(sermon)"><%= __('listen') %></a>
					</div>
					<div class="col-xs-4">
						<a href="{{sermon.sermon}}" class="btn btn-default" download ><%= __('download') %></a>
					</div>
				</div>
				<div class="row" ng-if="sermon.bulletin">
					<div class="col-xs-4">
						<span><%= __('bulletin') %></span>
					</div>
					<div class="col-xs-4">
						<a href="#" class="btn btn-default" ng-click="openDocs(sermon, 'bulletin')"><%= __('open') %></a>
					</div>
					<div class="col-xs-4">
						<a href="{{sermon.bulletin}}" class="btn btn-default" download ><%= __('download') %></a>
					</div>
				</div>
				<div class="row" ng-if="sermon.ppt">
					<div class="col-xs-4">
						<span><%= __('ppt') %></span>
					</div>
					<div class="col-xs-4">
						<a href="#" class="btn btn-default" ng-click="openDocs(sermon, 'ppt')"><%= __('open') %></a>
					</div>
					<div class="col-xs-4">
						<a href="{{sermon.ppt}}" class="btn btn-default" download ><%= __('download') %></a>
					</div>
				</div>
				<div class="row" ng-if="sermon.life_group">
					<div class="col-xs-4">
						<span><%= __('life_group') %></span>
					</div>
					<div class="col-xs-4">
						<a href="#" class="btn btn-default" ng-click="openDocs(sermon, 'life_group')"><%= __('open') %></a>
					</div>
					<div class="col-xs-4">
						<a href="{{sermon.life_group}}" class="btn btn-default" download ><%= __('download') %></a>
					</div>
				</div>
				<div style="clear: both;"></div>	
			</accordion-group>
		</accordion>
	</div>

	<div id="mobile_footer" data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit">
		<h4 class="ui-title" role="heading" aria-level="1">Calgary Chinese Alliance Church</h4>
	</div>
</div>

<% include ./layout/footer.html %>
