<div class="sidebar">
	<div class="panel-group" id="life_group_sidebar" role="tablist" aria-multiselectable="true">
		<div class="panel">
			<div class="panel-heading" role="tab" id="english_heading">
				<a class="panel-title" data-toggle="collapse" data-parent="#life_group_sidebar" href="#english" aria-expanded="true" aria-controls="english">
					<%= __('english_life_group') %><span class="glyphicon glyphicon-collapse-down right" />
				</a>
			</div>
			<div id="english" class="panel-collapse collapse" role="tabpanel" aria-labelledby="english_heading">
				<div class="panel-body">
					<ul class="nav">
						<li id="junior_rock"><a href="/<%= lang %>/<%= header %>/english/junior_rock/"><%= __('eng_junior_rock') %></a></li>
						<li id="senior_rock"><a href="/<%= lang %>/<%= header %>/english/senior_rock/"><%= __('eng_senior_rock') %></a></li>
						<li id="basic"><a href="/<%= lang %>/<%= header %>/english/basic/"><%= __('eng_basic') %></a></li>
						<li id="clay"><a href="/<%= lang %>/<%= header %>/english/clay/"><%= __('eng_clay') %></a></li>
						<li id="married_couples"><a href="/<%= lang %>/<%= header %>/english/married_couples/"><%= __('eng_married_couples') %></a></li>
						<li id="jericho"><a href="/<%= lang %>/<%= header %>/english/jericho/"><%= __('eng_jericho') %></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading" role="tab" id="cantonese_heading">
				<a class="panel-title collapsed" data-toggle="collapse" data-parent="#life_group_sidebar" href="#cantonese" aria-expanded="false" aria-controls="cantonese">
					<%= __('cantonese_life_group') %><span class="glyphicon glyphicon-collapse-down right" />
				</a>
			</div>
			<div id="cantonese" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cantonese_heading">
				<div class="panel-body">
					<ul class="nav">
						<li id="bethlehem"><a href="/<%= lang %>/<%= header %>/cantonese/bethlehem/"><%= __('cht_bethlehem') %></a></li>
						<li id="flames"><a href="/<%= lang %>/<%= header %>/cantonese/flames/"><%= __('cht_flames') %></a></li>
						<li id="beracah"><a href="/<%= lang %>/<%= header %>/cantonese/beracah/"><%= __('cht_beracah') %></a></li>
						<li id="children_family"><a href="/<%= lang %>/<%= header %>/cantonese/children_family/"><%= __('cht_children_family') %></a></li>
						<li id="rainbow_groups"><a href="/<%= lang %>/<%= header %>/cantonese/rainbow_groups/"><%= __('cht_rainbow_groups') %></a></li>
						<li id="men_groups"><a href="/<%= lang %>/<%= header %>/cantonese/men_groups/"><%= __('cht_men_groups') %></a></li>
						<li id="freedom_groups"><a href="/<%= lang %>/<%= header %>/cantonese/freedom_groups/"><%= __('cht_freedom_groups') %></a></li>
						<li id="elijah"><a href="/<%= lang %>/<%= header %>/cantonese/elijah/"><%= __('cht_elijah') %></a></li>
						<li id="joshua"><a href="/<%= lang %>/<%= header %>/cantonese/joshua/"><%= __('cht_joshua') %></a></li>
						<li id="caleb"><a href="/<%= lang %>/<%= header %>/cantonese/caleb/"><%= __('cht_caleb') %></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading" role="tab" id="mandarin_heading">
				<a class="panel-title collapsed" data-toggle="collapse" data-parent="#life_group_sidebar" href="#mandarin" aria-expanded="false" aria-controls="mandarin">
					<%= __('mandarin_life_group') %><span class="glyphicon glyphicon-collapse-down right" />
				</a>
			</div>
			<div id="mandarin" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mandarin_heading">
				<div class="panel-body">
					<ul class="nav">
						<li id="group_1"><a href="/<%= lang %>/<%= header %>/mandarin/group_1/"><%= __('chs_group_1') %></a></li>
						<li id="group_2"><a href="/<%= lang %>/<%= header %>/mandarin/group_2/"><%= __('chs_group_2') %></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	<% if (lg_lang) { %>
		document.getElementById("<%= lg_lang %>").className = "collapse in"; 
	<% } %>
	<% if (sidebar) { %>
		document.getElementById("<%= sidebar %>").className = "active"; 
	<% } %>
</script>
