<div class="sidebar">
	<ul class="nav">
		<li>
			<div class="panel">
				<div class="panel-heading" role="tab" id="children_ministry_heading">
					<a href="/<%= lang %>/<%= header %>/children_ministry/">
						<%= __('children_ministry') %>
					</a>
				</div>
				<div id="children" class="collapse in" role="tabpanel" aria-labelledby="children_ministry_heading">
					<div class="panel-body">
						<ul class="nav">
							<li id="children_awana_club"><a href="/<%= lang %>/<%= header %>/children_awana_club/"><%= __('children_awana_club') %></a></li>
							<li id="children_sunday_programs"><a href="/<%= lang %>/<%= header %>/children_sunday_programs/"><%= __('children_sunday_programs') %></a></li>
							<li id="children_special_events"><a href="/<%= lang %>/<%= header %>/children_special_events/"><%= __('children_special_events') %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</li>
		<li id="chinese_school"><a href="/<%= lang %>/<%= header %>/chinese_school/"><%= __('chinese_school') %></a></li>
		<li id="esl"><a href="/<%= lang %>/<%= header %>/esl/"><%= __('esl') %></a></li>
	</ul>
</div>
