<div class="sidebar">
	<ul class="nav">
		<li id="children_ministry"><a href="/<%= lang %>/<%= header %>/children_ministry/"><%= __('children_ministry') %></a></li>
		<li id="chinese_school"><a href="/<%= lang %>/<%= header %>/chinese_school/"><%= __('chinese_school') %></a></li>
		<li id="esl"><a href="/<%= lang %>/<%= header %>/esl/"><%= __('esl') %></a></li>
	</ul>
</div>

<script>
	<% if (sidebar) { %>
		document.getElementById("<%= sidebar %>").className = "active"; 
	<% } %>
</script>
