<div class="sidebar">
	<ul class="nav">
		<li id="church-wide-ministry"><a href="/<%= lang %>/<%= header %>/church-wide-ministry/"><%= __('church-wide-ministry') %></a></li>
		<li id="cantonese-ministry"><a href="/<%= lang %>/<%= header %>/cantonese-ministry/"><%= __('cantonese-ministry') %></a></li>
		<li id="english-ministry"><a href="/<%= lang %>/<%= header %>/english-ministry/"><%= __('english-ministry') %></a></li>
		<li id="mandarin-ministry"><a href="/<%= lang %>/<%= header %>/mandarin-ministry/"><%= __('mandarin-ministry') %></a></li>
		<li id="children-ministry"><a href="/<%= lang %>/<%= header %>/children-ministry/"><%= __('children-ministry') %></a></li>
		<li id="student-ministry"><a href="/<%= lang %>/<%= header %>/student-ministry/"><%= __('student-ministry') %></a></li>
<!--
		<li id="esl"><a href="/<%= lang %>/<%= header %>/esl/"><%= __('esl') %></a></li>
-->
	</ul>
</div>

<script>
	<% if (sidebar) { %>
	  document.getElementById("<%= sidebar %>").className = "active";
	<% } %>
</script>
