<div class="sidebar">
	<ul class="nav navbar-nav">
		<li id="church_update"><a href="#" onclick="loadIframe('iframe', 'http://church-update.calgarychinesealliance.org/')"><%= __('church_update') %></a></li>
		<li id="building_update"><a href="#" onclick="loadIframe('iframe', 'http://building-update.calgarychinesealliance.org/')"><%= __('building_update') %></a></li>
		<li id="facebook"><a href="#" onclick="loadIframe('iframe', '//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/pages/Calgary-Chinese-Alliance-Church/690506447729653?pnref=lhc&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=1532523910335784')"><%= __('facebook') %></a></li>
<!--
		<li id="church_update"><a href="/<%= lang %>/news/church_update/"><%= __('church_update') %></a></li>
		<li id="building_update"><a href="/<%= lang %>/news/building_update/"><%= __('building_update') %></a></li>
		<li id="facebook"><a href="/<%= lang %>/news/facebook/"><%= __('facebook') %></a></li>
-->
	</ul>
</div>

<script>
	<% if (sidebar) { %>
		document.getElementById("<%= sidebar %>").className = "active"; 
	<% } %>
</script>