<div class="sidebar">
	<div class="panel-group" id="resources_panel" role="tablist" aria-multiselectable="true">
		<div class="panel">
			<div class="panel-heading" role="tab" id="sermon_heading">
				<a class="panel-title" href="/<%= lang %>/resources/sunday_service/">
					<%= __('sermon_download') %>
				</a>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading" role="tab" id="room_booking_heading">
				<a class="panel-title" href="/<%= lang %>/resources/room_booking/">
					<%= __('room_booking') %>
				</a>
			</div>
		</div>
	</div>
</div>

<script>
	<% if (lg_lang) { %>
		document.getElementById("<%= lg_lang %>").className = "collapse in"; 
	<% } %>
	<% if (sidebar) { %>
		document.getElementById("<%= sidebar %>").className = "active"; 
	<% } %>
	
</script>
