<div id="lang-controlgroup" data-role="controlgroup" data-type="horizontal" class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
	<div id="lang-controlgroup-controls" class="ui-controlgroup-controls ">
		<a id="eng" href="/mobile/eng<%= path %>" class="ui-btn ui-corner-all">Eng</a>
		<a id="cht" href="/mobile/cht<%= path %>" class="ui-btn ui-corner-all">繁</a>
		<a id="chs" href="/mobile/chs<%= path %>" class="ui-btn ui-corner-all">简</a>
	</div>
</div>

<div role="main" class="ui-content" id="menu" data-role="content">
	<div data-role="collapsible-set" class="ui-listview-outer" data-inset="true">

		<div data-role="listview" class="ui-listview-outer" data-inset="true">
			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
			  <li id="church_update"><a href="/mobile/<%= lang %>/news/"><%= __('church_update') %></a></li>
			</ul>
		  </div>
		  
		<div data-role="collapsible" data-iconpos="left" data-shadow="false" data-corners="false">
			<h3><%= __('about_us') %></h3>
			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
				<li id="when_where"><a href="/mobile/<%= lang %>/about_us/when_where/"><%= __('when_where') %></a></li>
				<li id="our_staff"><a href="/mobile/<%= lang %>/about_us/our_staff/"><%= __('our_staff') %></a></li>
				<li id="our_vision"><a href="/mobile/<%= lang %>/about_us/our_vision/"><%= __('our_vision') %></a></li>
				<li id="contact_us"><a href="/mobile/<%= lang %>/about_us/contact_us/"><%= __('contact_us') %></a></li>
				<li id="pastoral_search"><a href="/mobile/<%= lang %>/about_us/pastoral_search/"><%= __('pastoral_search') %></a></li>
			</ul>
		</div>

		<div data-role="collapsible" data-iconpos="left" data-shadow="false" data-corners="false">
			<h3><%= __('ministry_plan') %></h3>
			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
				<!-- <li id="ministry_plan"><a href="/mobile/<%= lang %>/ministry_plan/"><%= __('ministry_plan') %></a></li> -->
				<li id="church-wide-ministry"><a href="/mobile/<%= lang %>/ministry_plan/church-wide-ministry/"><%= __('church-wide-ministry') %></a></li>
				<li id="cantonese-ministry"><a href="/mobile/<%= lang %>/ministry_plan/cantonese-ministry/"><%= __('cantonese-ministry') %></a></li>
				<li id="english-ministry"><a href="/mobile/<%= lang %>/ministry_plan/english-ministry/"><%= __('english-ministry') %></a></li>
				<li id="mandarin-ministry"><a href="/mobile/<%= lang %>/ministry_plan/mandarin-ministry/"><%= __('mandarin-ministry') %></a></li>
				<li id="children-ministry"><a href="/mobile/<%= lang %>/ministry_plan/children-ministry/"><%= __('children-ministry') %></a></li>
				<li id="student-ministry"><a href="/mobile/<%= lang %>/ministry_plan/student-ministry/"><%= __('student-ministry') %></a></li>
			</ul>
		</div>

		<div data-role="listview" class="ui-listview-outer" data-inset="true">
			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
				<li id="devotion"><a href="https://devotion.ccac.life/"><%= __('devotion') %></a></li>
			</ul>
		</div>

		<div data-role="listview" class="ui-listview-outer" data-inset="true">
			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
				<li id="chinese_school"><a href="/mobile/<%= lang %>/chinese_school/"><%= __('chinese_school') %></a></li>
			</ul>
		</div>

		<div data-role="listview" class="ui-listview-outer" data-inset="true">
			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
				<li id="children_ministry"><a href="http://children-update.calgarychinesealliance.org/"><%= __('children_ministry') %></a></li>
			</ul>
		</div>
		  
		<div data-role="collapsible" data-iconpos="left" data-shadow="false" data-corners="false">
			<h3><%= __('resources') %></h3>
			<div data-role="collapsible" data-iconpos="left" data-shadow="false" data-corners="false">
				<h3><%= __('sermon_download') %></h3>
				<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
					<li id="english_sermon"><a href="/mobile/<%= lang %>/resources/sunday_service/English" target="_blank"><%= __('english') %></a></li>
					<li id="cantonese_sermon"><a href="/mobile/<%= lang %>/resources/sunday_service/Cantonese" target="_blank"><%= __('cantonese') %></a></li>
					<li id="mandarin_sermon"><a href="/mobile/<%= lang %>/resources/sunday_service/Mandarin" target="_blank"><%= __('mandarin') %></a></li>
				</ul>
			</div>

			<ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
				<li id="facebook"><a href="https://www.facebook.com/pages/Calgary-Chinese-Alliance-Church/690506447729653?pnref=lhc&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=1532523910335784"><%= __('facebook') %></a></li>
			</ul>
			
		</div>
	</div>
</div>
