<div class="panel panel-default widget">
	<div class="panel-heading widget-header">
		<a href="/<%= lang %>/about_us/contact_us/">
			<%= __('contact_us') %>
		</a>
	</div>
	<div class="panel-body widget-body">
		150 Beddington Blvd. NE
		<br />
		Calgary, Alberta, Canada
		<br />
		T3K 2E2
		<br />
		<a href="http://goo.gl/maps/D7utV"><%= __('map') %></a>
		<br />
		<%= __('phone') %>: (403) 274-6923
		<br />
		<%= __('email') %>: <a href="mailto:ccacem@gmail.com">ccacem@gmail.com</a>
	</div>
</div>