<div class="panel panel-default widget">
	<div class="panel-heading widget-header">
		<a href="/<%= lang %>/resources/">
			<%= __('sermon_download') %>
		</a>
	</div>
	<div class="panel-body widget-body">
		<a href="/<%= lang %>/resources/sunday_service/english" ><%= __('english') %></a>
		<br />
		<a href="/<%= lang %>/resources/sunday_service/cantonese" ><%= __('cantonese') %></a>
		<br />
		<a href="/<%= lang %>/resources/sunday_service/mandarin" ><%= __('mandarin') %></a>
	</div>
</div>