<div class="panel panel-default widget">
	<div class="panel-heading widget-header">
		<a href="/<%= lang %>/resources/">
			<%= __('sermon') %>
		</a>
	</div>
	<div class="panel-body widget-body">
		<a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-QXRrV0x4YmNJUjA&usp=sharing#list" target="_blank"><%= __('english') %></a>
		<br />
		<a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-Z0ZPRVBNT1BhY1k&usp=sharing#list" target="_blank"><%= __('cantonese') %></a>
		<br />
		<a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-bEI5MlBtUUJfWjA&usp=sharing#list" target="_blank"><%= __('mandarin') %></a>
	</div>
</div>