<div class="panel panel-default widget">
	<div class="panel-heading widget-header">
		<a href="/<%= lang %>/about_us/when_where/">
			<%= __('sunday_service') %>
		</a>
	</div>
	<div class="panel-body widget-body">
		<%= __('mandarin') %> - <%= __('sunday') %> - 9:30 AM (<%= __('sanctuary') %>)
		<br />
		<%= __('cantonese') %> - <%= __('sunday') %> - 11:00 AM (<%= __('sanctuary') %>)
		<br />
		<%= __('english') %> - <%= __('sunday') %> - 9:30 AM (<%= __('gym') %>)
	</div>
</div>
