<% include ./layout/header.html %>

<div class="container">
<% include ./sidebar/about_us_sidebar.html %>

<div class="sidepage">
	<div class="sidepage_top" id="content">
	</div>
	
	<form action="/<%= lang %>/send_email" method="post">
		<fieldset>
			<input type="hidden" id="path" name="path" value="/<%= lang %><%= path %>" />
		
			<label for="name"><%= __('contact_us_name') %></label>
			<br />
			<input type="text" id="name" name="name" />
			<br />

			<label for="email"><%= __('contact_us_email') %></label>
			<br />
			<input type="email" id="email" name="email" />
			<br />
			
			<label for="message"><%= __('contact_us_message') %></label>
			<br />
			<textarea type="text" rows="4" cols="50" id="message" name="message" ></textarea>
			<br />
			
			<input type="submit" value="<%= __('contact_us_submit') %>" />
		</fieldset>
	</form>

	<p />
</div>
</div>

<!-- need .html here -->
<script>
$("#content").load("https://docs.google.com/document/d/<%= doc_id %>/pub?embedded=true");
</script>

<% include ./layout/footer.html %>
