<% include ./layout/header.html %>

<div class="container">

<!--
<% include ./sidebar/resources_sidebar.html %>
<div class="sidepage" id="content">
-->
<div class="fullpage" id="content">
	<div class="panel-group" id="resources_panel" role="tablist" aria-multiselectable="true">
		<div class="panel">
			<div class="panel-heading" role="tab" id="sermon_heading">
				<%= __('sermon') %>
			</div>
			<div id="sermon" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sermon_heading">
				<div class="panel-body">
					<ul class="nav">
						<li id="english_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-QXRrV0x4YmNJUjA&usp=sharing#list" target="_blank"><%= __('english') %></a></li>
						<li id="cantonese_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-Z0ZPRVBNT1BhY1k&usp=sharing#list" target="_blank"><%= __('cantonese') %></a></li>
						<li id="mandarin_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-bEI5MlBtUUJfWjA&usp=sharing#list" target="_blank"><%= __('mandarin') %></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading" role="tab" id="bulletin_heading">
				<%= __('bulletin') %>
			</div>
			<div id="bulletin" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="bulletin_heading">
				<div class="panel-body">
					<ul class="nav">
						<li id="english_bulletin"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-QmJFOUU2YlRNVHc&usp=sharing#list" target="_blank"><%= __('english') %></a></li>
						<li id="cantonese_bulletin"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-eDVsdGprV0Yyd2c&usp=sharing#list" target="_blank"><%= __('cantonese') %></a></li>
						<li id="mandarin_bulletin"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-MjY5djZUUWhhWnc&usp=sharing#list" target="_blank"><%= __('mandarin') %></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading" role="tab" id="room_booking_heading">
				<a class="panel-title" href="/<%= lang %>/resources/room_booking/">
					<%= __('room_booking') %>
				</a>
			</div>
<!--
			<div id="room_booking" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="room_booking_heading">
				<div class="panel-body">
					<ul class="nav">
						<li id="english_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-QXRrV0x4YmNJUjA&usp=sharing#list" target="_blank"><%= __('english') %></a></li>
						<li id="cantonese_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-Z0ZPRVBNT1BhY1k&usp=sharing#list" target="_blank"><%= __('cantonese') %></a></li>
						<li id="mandarin_sermon"><a href="https://drive.google.com/folderview?id=0B1xLzF4Ksd4-bEI5MlBtUUJfWjA&usp=sharing#list" target="_blank"><%= __('mandarin') %></a></li>
					</ul>
				</div>
			</div>
-->
		</div>

		<div class="panel">
			<div class="panel-heading" role="tab" id="AGM_heading">
				<a class="panel-title" href="/<%= lang %>/AGM/">
					<%= __('AGM') %>
				</a>
			</div>
		</div>

	</div>

</div>
</div>

<% include ./layout/footer.html %>
