<% include ./layout/header.html %>

<link rel="stylesheet" href="/css/lang/sunday_service.css">

<script src="/js/angular/lang/sunday_service_controller.js"></script>

<div class="container" ng-app="ccacApp" ng-controller="SundayServiceController">

<div ng-init="s3_bucket = '<%= s3_bucket %>'" ></div>
<div ng-init="s3_region = '<%= s3_region %>'" ></div>
<div ng-init="lang = '<%= lang %>'" ></div>
<div ng-init="init()" ></div>

<% include ./sidebar/resources_sidebar.html %>
<div class="sidepage" id="content">
	<tabset justified="true">
		<tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled" ng-click="getSermons(tab.title)">
			<tab-heading>
				{{tab.title}}
				{{i18n.__(tab.tag)}}
			</tab-heading>

			<accordion close-others="oneAtATime">
				<accordion-group ng-repeat="sermon in sermons" is-open="$first">
					<accordion-heading ng-click="isopen=!isopen">
						<div>
							<span>{{sermon.sermon_date}}</span>
							<span ng-if="sermon.title"> - {{sermon.title}}</span>
						</div>
					</accordion-heading>
					<div class="row" ng-if="sermon.sermon">
						<div class="col-md-4">
							<span>Sermon</span>
						</div>
						<div class="col-md-4">
							<button class="btn btn-default" ng-click="openAudio(sermon)">Listen</button>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.sermon}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
					<div class="row" ng-if="sermon.bulletin">
						<div class="col-md-4">
							<span>Bulletin</span>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.bulletin}}" class="btn btn-default" target="_blank">Open</a>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.bulletin}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
					<div class="row" ng-if="sermon.ppt">
						<div class="col-md-4">
							<span>PowerPoint</span>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.ppt}}" class="btn btn-default" target="_blank">Open</a>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.ppt}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
					<div class="row" ng-if="sermon.life_group">
						<div class="col-md-4">
							<span>Life Group</span>
						</div>
						<div class="col-md-4">
<!--							<a href="{{sermon.life_group}}" class="btn btn-default" target="_blank">Open</a>
-->
							<button class="btn btn-default" ng-click="openDocs(sermon)">Open</button>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.life_group}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
				</accordion-group>

<!--				<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>			
-->
			</accordion>
  		</tab>
	</tabset>

	<script type="text/ng-template" id="audioModal.html">
		<div class="modal-header">
			<span>{{sermon.sermon_date}}</span>
			<span ng-if="sermon.title"> - {{sermon.title}}</span>
		</div>
		<div class="modal-body">
			<div align="center">
				<audio class="full-width" controls>
					<source ng-src="{{sermon.sermon}}" type="audio/mpeg">
				</audio>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="close()">Close</button>
		</div>
	</script>

	<script type="text/ng-template" id="docsModal.html">
		<div class="modal-header">
			<span>{{sermon.sermon_date}}</span>
			<span ng-if="sermon.title"> - {{sermon.title}}</span>
		</div>
		<div class="modal-body">
			<div align="center">
				<iframe ng-src="{{sermon.life_group}}" width="100%" height="600px" ></iframe>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="close()">Close</button>
		</div>
	</script>
</div>
</div>

<% include ./layout/footer.html %>
