<% include ./layout/header.html %>

<script src="/js/angular/lang/sunday_service_controller.js"></script>

<div class="container" ng-app="ccacApp" ng-controller="SundayServiceController">

<div ng-init="s3_bucket = '<%= s3_bucket %>'" ></div>
<div ng-init="s3_region = '<%= s3_region %>'" ></div>
<div ng-init="lang = '<%= lang %>'" ></div>
<div ng-init="init()" ></div>

<% include ./sidebar/resources_sidebar.html %>
<div class="sidepage" id="content">
	<tabset justified="true">
		<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" ng-click="getSermons(tab.title)">


			<p>
			{{sermon_list}}
			</p>
		</tab>
	</tabset>
</div>
</div>

<% include ./layout/footer.html %>
