<% include ./layout/header.html %>

<script src="/js/angular/lang/sunday_service_controller.js"></script>

<div class="container" ng-app="ccacApp" ng-controller="SundayServiceController">

<div ng-init="s3_bucket = '<%= s3_bucket %>'" ></div>
<div ng-init="s3_region = '<%= s3_region %>'" ></div>
<div ng-init="lang = '<%= lang %>'" ></div>
<div ng-init="init()" ></div>

<% include ./sidebar/resources_sidebar.html %>
<div class="sidepage" id="content">
	<tabset justified="true">
		<tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled" ng-click="getSermons(tab.title)">
			<tab-heading>
				{{tab.title}}
			</tab-heading>

			<accordion close-others="oneAtATime">
				<accordion-group ng-repeat="sermon in sermons">
					<accordion-heading ng-click="isopen=!isopen">
						<div>
							<span>{{sermon.sermon_date}}</span>
							<span ng-if="sermon.title"> - {{sermon.title}}</span>
						</div>
					</accordion-heading>
					<div class="row" ng-if="sermon.sermon">
						<div class="col-md-4">
							<span>Sermon</span>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.sermon}}" class="btn btn-default">Listen Live</a>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.sermon}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
					<div class="row" ng-if="sermon.bulletin">
						<div class="col-md-4">
							<span>Bulletin</span>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.bulletin}}" class="btn btn-default">Open</a>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.bulletin}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
					<div class="row" ng-if="sermon.ppt">
						<div class="col-md-4">
							<span>PowerPoint</span>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.ppt}}" class="btn btn-default">Open</a>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.ppt}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
					<div class="row" ng-if="sermon.life_group">
						<div class="col-md-4">
							<span>Life Group</span>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.life_group}}" class="btn btn-default">Open</a>
						</div>
						<div class="col-md-4">
							<a href="{{sermon.life_group}}" class="btn btn-default" download >Download</a>
						</div>
					</div>
				</accordion-group>
			</accordion>
  		</tab>
	</tabset>
</div>
</div>

<% include ./layout/footer.html %>
