<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META -->
		<title>Calgary Chinese Alliance Church</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8" />

		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />

    <!-- script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-57284625-1', 'auto');
			ga('send', 'pageview');
    </script -->

		<!-- script type="text/javascript">
			window.console.log(navigator.userAgent);
			if ( (navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPad/i)) ) {
				window.location.href = "https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1360197580&mt=8";
      }

			if ( navigator.userAgent.match(/android/i) ) {
				window.location.href = "https://play.google.com/store/apps/details?id=com.ccac_sermon";
			}

    </script -->
	</head>
	<body>
		<img 
			src="http://calgarychinesealliance.org/img/logo.png" 
			style="width: 50pt"
		/>
		<h3>CCAC Sermon app download</h3>
		<br />
		<a href="https://play.google.com/store/apps/details?id=com.ccac_sermon">
			<img 
				src="/img/google_play_logo.png" 
				style="width: 100pt"
			/>
		</a>
		<br />
		<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1360197580&mt=8">
			<img 
				src="/img/app_store_logo.png" 
				style="width: 88pt; padding: 5pt"
			/>
		</a>
		<br />

	</body>
</html>

